/*.markdown-source-view.mod-cm6 .cm-table-widget .table-cell_wrapper*/
div.table-cell_wrapper {
    white-space: pre-wrap;
    max-width: 150px;
    color: red;
}

.cm_active {
    white-space: pre-wrap;
    max-width: 150px;
    color: red;
}
